dwl
config.h
cursor-shape-v1-protocol.h
dwl.o
pointer-constraints-unstable-v1-protocol.h
util.o
wlr-layer-shell-unstable-v1-protocol.h
wlr-output-power-management-unstable-v1-protocol.h
xdg-shell-protocol.h
