/* General bar styling */
#waybar {
  background: rgba(46, 52, 64, 0.5); /* Nord background with 50% opacity */
  color: #d8dee9;                   /* Light text color (Nord theme) */
  font-family: "Hack Nerd Font Mono", monospace;
  font-size: 16px;
  padding: 5px;
}

/* Left action buttons */
#custom-action1,
#custom-action2, 
#custom-action3, 
#custom-action4, 
#custom-action5,
#custom-action6 {
  margin-right: 15px; /* Space between buttons */
}
#custom-action1:hover,
#custom-action2:hover, 
#custom-action3:hover,
#custom-action4:hover,
#custom-action5:hover,
#custom-action6:hover{
  color: #88c0d0;     /* Highlight color on hover */
}

/* Tray icons */
#tray > widget {
  margin-left: 10px; /* Space between tray icons */
}

